<IfModule mod_rewrite.c>
    RewriteEngine on
    ErrorDocument 404 http://ringbuilder.test/app/admin/home.php?module=pages/error/404.php

    RewriteRule ^dashboard$ home.php [L]
    RewriteRule ^home$ home.php?module=pages/views/dashboard [L]
    RewriteRule ^list$ home.php?module=pages/views/list [L]
    RewriteRule ^edit_list$ home.php?module=pages/views/edit_list [QSA,L]
    RewriteRule ^edit_user$ home.php?module=pages/views/edit_user [QSA,L]
    RewriteRule ^users$ home.php?module=pages/views/users [QSA,L]
    RewriteRule ^logout$ logout.php [L]
</IfModule>
